html {
  background: #000000;
  background: linear-gradient(
    107deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(66, 66, 71, 1) 100%
  );
  color: white;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
