html {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 12%,
    rgba(5, 103, 183, 1) 65%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
