.container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 30px;
  height: 30px;
  margin: 50px auto; 
  box-shadow: 0 0 0 0.5px rgba(255, 68, 56, 0.5);
}








.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-inter), sans-serif; 
}

.navLink {
  all: unset;
  display: inline-block;
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;          
  font-weight: 400;         
  letter-spacing: -0.08em;      
  font-optical-sizing: auto;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFF;
  opacity: 0.6;
  text-decoration: none;
  border-radius: 20px;
  padding: 4px 10px;
  transition: all 0.2s ease;
}

.navLink:hover {
  cursor: pointer;
  color: #FF4438;
}

.navLink.active {
 color: #FF4438;
 opacity: 1.0;
}